@media screen and (max-width:768px) {
    .loginBox{
        width:40%;
    }
    #username,#password{
        width:84% !important;
    }
   #copyright{
       font-size: 12px!important;
       text-align: center;
   }
   .footer .col-md-6{
       width: 50% !important;
}
  }
  @media screen and (max-width:576px){
      .loginBox{
          width:60%;
      }
  }
  @media screen and (max-width:360px){
    .loginBox{
        width: 83%;
    }
    #username,#password{
        width:77% !important;
    } 
    .footer .col-md-6{
        font-size: 13px;
    }
      .footer .col-md-6.pl-4{
          padding-left: 5px!important;
          width:30%;
      }
      .footer .col-md-6.pr-4{
          padding-right: 5px!important;
          width:70%;
      }
  }